body {
  background-color: hsl(36, 100%, 99%);
}
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.app {
  height : 100vh;
  width: 100vh;

}
.menu-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.menu-items {
  display: inline;
  margin: 20px;
  cursor: pointer;
  color: hsl(236, 13%, 42%);
}
.menu-items:hover {
  color: hsl(5, 85%, 63%);
}
.top-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  width: 100%;
}
.main-content {
  display: inline-block;
  width: 100%;
}
.main-content-image {
  margin: 20px;
  width: 100%;
  /*object-fit: scale-down;*/
}
.main-content-half {
  margin: 20px;
  display: inline-block;
  width: 50%;
  text-align: left;
  font-size: 15px;
}
.main-detail-left {
  display: inline-block;
  width: 70%;
}
.main-detail-right {
  background-color: hsl(240, 100%, 5%);
  display: inline-block;
  width: 30%;
}
.main-detail-right-title {
  color: hsl(35, 77%, 62%);
  text-align: left;
  font-size: 40px;
  font-weight: bolder;
  margin: 20px;
}
.main-detail-right-header{
  margin: 20px;
  text-align: left;
  color: white;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
}
.main-detail-right-header:hover{
  color: hsl(35, 77%, 62%);
}
.main-detail-right-content {
  margin: 20px;
  text-align: left;
  color: hsl(233, 8%, 79%);
  font-size: 15px;
  cursor: pointer;
}
.main-detail-right-content:hover {
  color: hsl(35, 77%, 62%);
}
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
